.timeline{
    position:relative;
    height:150px;
}
.timeline .hr_line,.timeline .quick_steps{
    position:relative;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    width:30%;
    margin-left:0;
}
.quick_steps{
    display: flex;
    list-style-type: none;
    margin-bottom:0;
}
.quick_steps .number{
    position:relative;
    transform:translate(-110%,-80%);
    height:45px;
    width:45px;
    border-radius: 50%;
    box-sizing: content-box;
    border:8px solid rgba(237,201,198,.32);
    color:#c7222a;
    text-align:center;
    background-color:#f7F8FA;
}
.quick_steps #second{
    left:40%;
}
.quick_steps #third{
    left:80%;
}
.number span{
    position:relative;
    top:20%;
    font-size:1.2em;
    font-weight:300;
}
.timeline .texts{
    position: relative;
    top:40%;
    width:30%;
    display:flex;
    left:50%;
    transform:translateX(-50%);
    margin:0;
    padding:0;
}
#firstText{
    position:relative;
    left:0;
    transform:translateX(-50%);

}
#secondText{
    position:relative;
    left:40%;
    transform:translateX(-50%);

}
#thirdText{
    position:relative;
    left:80%;
    transform:translateX(-50%);
}
.claims_button{
    margin-top:100px;
    padding:1em 2em;
    border:1px solid #C7222A;
    border-radius: 10px;
    color:#C7222A;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.para2{
    text-align: center; 
    font-size:1.2em;
    margin:1.5em 0;
    margin-bottom:3.5em;
}
.new-container{
    background-color: #f7F8FA;
    margin-top:3em;
}
.new-container .headings2{
    padding-top:2.4em;
    margin-top: 4em;
text-align: center;
font-size: 1.8em;
font-weight: 600;    
}
